{# letiste/rezervace.twig #}
{% extends layout %}

{% block bodyContent %}
	<div class="row">
		<div class="col-lg-7">
			<div class="panel panel-default reservations">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-9">
							<h4 class="date_bounds">
								{{ "%s - %s"|format(reservationWeek.timeSpan['time_from'], reservationWeek.timeSpan['time_to'])  }}
							</h4>
						</div>
						<div class="col-xs-3">
							<span class="btn-group btn-group-justified">
								{% for link in weekShift %}
									<a href="{{ urlgen.url(link['url']) }}" class="btn btn-default {{ link['glyph'] }}"></a>
								{% endfor %}
							</span>
						</div>
					</div>
				</div>
				<div class="panel-body">
					{% include "components/weekGraphical.twig" with {'reservationDays': reservationWeek.days} %}
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="well well-lg reservations-list">
				{% include 'mini/reservation_days.twig' with { 'reservationDays': reservationWeek.days } %}
			</div>
		</div>
	</div>
{% endblock %}

{% block pageStyle %}
	<style>
		{% for g in games %}.game{{ g.game_type_id }}{ border-color: #{{ g.getColor() }} }
		{% endfor %}
	</style>
{% endblock %}