{# Twig template mini/hra.twig #}

<div class="game">
	<div class="row">
		<div class="image-frame col-md4">
			<img src="{{ g.picture_path }}">
		</div>
		<div class="col-md8">
			<div class="row">
				<div class="col-md6">{{ g.game_name }}</div>
				<div class="col-md6">Hodnocení:{{ '%d (%d)'|format(g.average_score, g.rating_count) }}</div>
			</div>
			<div class="row">
				<div class="col-md4">Hráčů:{{ "%d - %d"|format(g.min_players, g.max_players) }}</div>
				<div class="col-md5">Prům. Doba Hry: {{ g.avg_game_time }}</div>
				<div class="col-md3">({{ g.subscribed_users }})</div>
			</div>
		</div>
	</div>
</div>