{# mini/game_rating.twig #}
{% for i in (resRend.getWeekStartDay())..(resRend.getWeekEndDay()) if reservationDays[i]['weekEntities'] is not empty %}
	<div class="dayLists{% if loop.first %} first{% endif %}{% if reservationDays[i]['last'] %} last{% endif %}" id="dl_{{ i }}">
		<h3>{{ resRend.getDay(i, 'full') }}</h3>
		<div class="row smartRow">
			{% set rd = reservationDays[i] %}
			{% for we in rd['weekEntities'] %}
				{% set rGame = we.hasGameAssigned() ? games[we.getGameTypeID()] : null %}
				<div class="col-md-{% if we.isEvent() %}12{% else %}{{ resListColSize }}{% endif %}">
					<div class="media" style="border: 8px solid #{{ we.hasGameAssigned() ? games[we.getGameTypeID()].getColor : '4e4848'}}; margin-bottom: 4px;">
						<div class="media-left">
							<img class="media-object" src="{{ we.hasGameAssigned() ? urlgen.gImg(we.getGameTypeID()) : urlgen.appLogo() }}" alt="...">
						</div>
						<div class="media-body">
							<div class="row">
								<div class="col-xs-6">
									<a href="{{ urlgen.weDetail(we) }}"
									   <small>{{ we.getLabel() }} #{{ "%04d"|format(we.getID()) }}</small>
									</a>
								</div>
								{% if r.isOpen %}
									<div class="col-xs-6">
										<small class="pull-right">Hráčů: {{ r.getSignedPlayerCount() }}<span> (doporuč. {{ "%d-%d"|format(r.min_players, r.max_players) }})</span></small>
									</div>
								{% endif %}
							</div>
							<h4 class="media-heading">
								{{ we.getTitle() }}{% if we.hasSubtitle() %} <small>{{ we.getSubtitle()}}</small>{% endif %}
							</h4>


							<span>{{ "%s - %s"|format(resRend.time(we.getTimeFrom()), resRend.time(we.getTimeTo())) }}</span>
							<span>{{ "(%s)"|format(we.getDate()) }}</span>
							{% if not we.isEvent() and we.hasDesk() %}
								<span class="pull-right">{{ 'Stůl %02d (%d míst)'|format(we.desk_id, we.desk_capacity) }}</span>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% if not reservationDays[i]['last'] %}<hr/>{% endif %}

{% endfor %}