{# mini/rezervace_graficky.twig #}
{% for i in 0..7 %}
	<div class="list-group-item">
		<div class="row">
			{% set rd = reservationDays[i] %}
			{% if rd.date is empty %}
				<div class="col-sm-offset-1 col-sm-11">
					<div class="btn-group btn-group-justified time-buttons" data-start-hour="{{ resRend.dayStart }}" data-end-hour="{{ resRend.dayEnd }}">
						{% for h in (resRend.dayStart)..(resRend.dayEnd - 1) %}
							<span class="btn btn-default{% if not user.isLoggedIn %} disabled{% endif %}">{{ '%02d:00'|format(h) }}</span>
						{% endfor %}
					</div>
				</div>
			{% else %}

				<div class="col-sm-1">
					{{ rd['date'] }}
				</div>
				<div class="col-sm-11">
					{% for res in rd['reservations'] %}
						<div class="reservation game{{ res.game_type_id }}" style="left:{{ resRend.getStartPct(res) }}%; width: {{ resRend.getWidthPct(res) }}%;">
							{{ res.game_name }}
							{{ resRend.time(res.time_from) }} - {{ resRend.time(res.time_to) }}
						</div>
					{% else %}
						Day {{ i }} is empty.
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
{% endfor %}