{# mini/rezervace_graficky.twig #}
<div class="row">
	<div class="col-sm-1"> </div>
	<div class="col-sm-11 btnCol">
		<div class="btn-group btn-group-justified time-buttons" data-start-hour="{{ resRend.dayStart }}" data-end-hour="{{ resRend.dayEnd }}">
			{% for h in (resRend.dayStart)..(resRend.dayEnd - 1) %}
				<span class="btn btn-default{% if not user.isLoggedIn %} disabled{% endif %}">{{ '%02d:00'|format(h) }}</span>
			{% endfor %}
		</div>
	</div>
</div>
{% for i in (resRend.getWeekStartDay())..(resRend.getWeekEndDay()) %}
	<div class="list-group-item reservationRow">
		<div class="row resRow">
			{% set rd = reservationDays[i] %}
			<div class="col-sm-1 dateCol">
				<span class="btn btn-default{% if not user.isLoggedIn %} disabled{% endif %}" data-year="{{ rd['year'] }}">
					{{ resRend.getDay(i, 'abbr') }}
					<br>
					<span class="date">{{ rd['date'] }}</span>
				</span>
			</div>
			<div class="col-sm-11 resCol">
				{% for res in rd['weekEntities'] %}
					{{ resRend.renderEntity(res)|raw }}
				{% else %}
					{{ resRend.getDay(i, 'on_day') }} se nic neplánuje
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}