{# vypis/hry.twig #}
{% extends layout %}

{% block bodyContent %}
	<div>
		{% set open_row = false %}
		{% for g in hry %}
			{% if loop.index0 % gpr == 0 %}
				<div class="row"> {% set open_row = true %}
				{% endif %}
				<div class="col-md-{{ 12 / gpr }}">
					{% set game_panel_class = (user.isSubscribedTo(g.game_type_id) ? 'panel-info' : 'panel-default' ) %}
					<div class="game panel {{ game_panel_class }}" id="gp_{{ g.game_type_id }}">
						<div class="panel-heading">
							<div class="row" style="height: 100%;">
								<span class="col-xs-9"><a href="{{ urlgen.gDet(g.game_type_id) }}">
										<div class="game_name">{{ g.game_name }}</div>
										<div class="game_subtitle">{{ g.game_subtitle }}</div>
									</a></span>
								<span class="col-xs-3 image-frame">
									<img src="{{ urlgen.gImg(g.game_type_id) }}" class="img-rounded img-responsive pull-right">
								</span>
							</div>
						</div>
						<div class="panel-body">
							{% include "vypis/mini_gameActions.twig" with {'review_link': urlgen.gDet(g.game_type_id, 'review')} %}
						</div>
					</div>
				</div>
				{% if loop.index0 % gpr == gpr - 1 %}
				</div> {% set open_row = false %}
			{% endif %}
		{% endfor %}
		{% if open_row %}
		</div>
	{% endif %}
</div>
{% endblock %}