{# vypis/hry.twig #}

{% extends layout %}

{% block bodyContent %}
	<div>
	{% set open_row = false %}
	{% for g in hry %}
		{% if loop.index0 % gpr == 0 %}
			<div class="row"> {% set open_row = true %}
		{% endif %}
		<div class="col-md-{{ 12 / gpr }}">
			{% set game_panel_class = (user.isSubscribedTo(g.game_type_id) ? 'panel-info' : 'panel-default' ) %}
			<div class="game panel {{ game_panel_class }}" id="gp_{{ g.game_type_id }}">
				<div class="panel-heading">
					<div class="row" style="height: 100%;">
					<span class="col-lg-9 pull-left"><a href="{{ urlgen.url(g.detail_link) }}">
						<div class="row game-title"><div class="col-xs-12">{{ g.game_name }}</div></div>
						<div class="row game-subtitle"><div class="col-xs-12">{{ g.subtitle }}</div></div>
					</a></span>
					<span class="col-lg-3 image-frame pull-right">
						<img src="{{ urlgen.gImg(g.game_type_id) }}" class="img-rounded img-responsive">
					</span>
					</div>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
							Hodnocení:{{ '%d (%d)'|format(g.average_score, g.rating_count) }}
						</li>
						<li class="list-group-item">
							Hráčů:{{ "%d - %d"|format(g.min_players, g.max_players) }}
						</li>
						<li class="list-group-item">
							Prům. Doba Hry: {{ g.avg_playtime }}
						</li>
					{% if not user.isLoggedIn %}
						<li class="list-group-item">
							Odběratelů: {{ g.subscribed_users }}
						</li>
					{% else %}
						<li class="list-group-item" style="padding: 0px; border-width: 0px;">
							<div class="input-group">
								<span class="form-control">Odběratelů: {{ g.subscribed_users }}</span>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" style="background: #bce8f1">+</button>
								</span>
							</div>
						</li>
					{% endif %}
					</ul>
				</div>
			</div>
		</div>
		{% if loop.index0 % gpr == gpr - 1 %}
			</div> {% set open_row = false %}
		{% endif %}
	{% endfor %}
	{% if open_row %}
	</div>
	{% endif %}
	</div>
{% endblock %}