{% extends layout %}

{% block bodyContent %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Jmeno</th>
            <th>Průměrná doba hraní</th>
            <th>Počet hráčů</th>
            <th>Hodnocení (počet)</th>
            <th>Odběratelů</th>
        </tr>
    </thead>
    <tbody>
{% for hra in hry %}
        <tr>
            <td>{{ hra.game_type_id }}</td>
            <td>{{ hra.game_name }}</td>
            <td>{{ hra.avg_game_time }}</td>
            <td>{{ hra.min_players }} ÷ {{ hra.max_players }}</td>
            <td>{{ hra.average_score }} ({{ hra.rating_count }})</td>
            <td>{{ hra.subscribed_users }}</td>
        </tr>
{% endfor %}
    </tbody>

</table>
{% endblock %}