{# vypis/detailHry.twig #}
{% extends layout %}

{% block bodyContent %}
	<div class="reservation panel panel-default">
		<div class="panel-heading">
			<div class="row" style="height: 100%;">
				<span class="col-xs-9">
					<div class="reservation_title">Rezervace uživatele {{ r.user.getFullName }}</div>
					<a href="{{ urlgen.gDet(r.game_type_id) }}">
						<div class="game_name">{{ r.game_name }}{% if r.game_subtitle is not empty %} <small class="game_subtitle">{{ r.game_subtitle }}</small>{% endif %}</div>
					</a>
				</span>
				<span class="col-xs-3 image-frame">
					<img src="{{ urlgen.gImg(r.game_type_id) }}" class="img-rounded img-responsive pull-right">
				</span>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div class="well well-sm">
						<div class="alert alert-info">
							{{ r.reservation_type }}
						</div>

						<ul class="list-group">
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-6">
										<span class="glyphicon glyphicon-calendar"></span>
										{{ r.reservation_date }}
									</div>
									<div class="col-xs-6">
										<span class="glyphicon glyphicon-time"></span>
										{% if not r.isEvent %}
											{{ r.getTime('from') }} - {{ r.getTime('to') }}
										{% else %}
											Celý den
										{% endif %}
									</div>
								</div>
							</li>
							<li class="list-group-item">
								{% if r.desk_id %}
									Číslo stolu: {{ '%02d'|format(r.desk_id) }}
									<span class="pull-right">Míst k sezení: {{ r.desk_capacity }}</span>
								{% else %}
									Bez rezervace stolu
								{% endif %}
							</li>
						</ul>

						<ul class="list-group">
							<li class="list-group-item">
								Doporučený počet hráčů: {{ r.game.getPlayerCount() }}
							</li>
							{% if r.isOpen %}
								<li class="list-group-item">
									Počet účastnících se hráčů {{ r.signed_players }}
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
				{% if user.isLoggedIn() %}
					<div class="col-lg-4">
						<div class="panel panel-info users">
							<div class="panel-heading">
								Přihlášení uživatelé
								{% if r.reservee_user_id != user.user_id %}
									{% if signAction['newVal'] %}
										<a href="{{ urlgen.url(signAction['url']) }}" class="btn btn-info pull-right"><span class="glyphicon glyphicon-plus"></span></a>
									{% else %}
										<a href="{{ urlgen.url(signAction['url']) }}" class="btn btn-warning pull-right"><span class="glyphicon glyphicon-minus"></span></a>
									{% endif %}
								{% endif %}
							</div>
							<div class="panel-body">
								<span class="list-group">
									{% for u in r.allUsers %}
										<a href="{{ urlgen.uProfile(u.orion_login) }}" class="list-group-item">{{ u.getFullName }}</a>
									{% endfor %}
								</span>
							</div>
						</div>


					</div>
				{% endif %}
			</div>
		</div>
	</div>

	{% if u.isLoggedIn %}
		<div class="hidden" id="but-add"><a class="btn btn-info pull-right"><span class="glyphicon glyphicon-plus"></span></a></div>
		<div class="hidden" id="but-rem"><a class="btn btn-warning pull-right"><span class="glyphicon glyphicon-minus"></span></a></div>
			{% endif %}

{% endblock %}

{% block pageStyle %}
	<style>
		.panel-heading, .panel-body{ border-color: #{{ g.getColor() }}
		}
		.panel-body .well{ background: #{{ g.getColor() }}
		}
	</style>
{% endblock %}