{# vypis/detailHry.twig #}
{% extends layout %}

{% block bodyContent %}
	<div class="reservation panel panel-default">
		<div class="panel-heading">
			<div class="row" style="height: 100%;">
				<span class="col-xs-9">
					<div class="reservation_title">Rezervace uživatele {{ r.borrower_name }}</div>
					<div class="game_name">{{ r.game_name }}{% if r.game_subtitle is not empty %} <small class="game_subtitle">{{ r.game_subtitle }}</small>{% endif %}</div>
				</span>
				<span class="col-xs-3 image-frame">
					<img src="{{ urlgen.gImg(r.game_type_id) }}" class="img-rounded img-responsive pull-right">
				</span>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div class="well well-sm">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-6">
										<span class="glyphicon glyphicon-calendar"></span>
										{{ r.reservation_date }}
									</div>
									<div class="col-xs-6">
										<span class="glyphicon glyphicon-time"></span>
										{{ r.time_from }} - {{ r.time_to }}
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				{% if user.isLoggedIn() %}
					<div class="col-lg-4">
						<div class="panel panel-info users">
							<div class="panel-heading">
								Přihlášení uživatelé
								<a class="btn btn-info pull-right"><span class="glyphicon glyphicon-plus"></span></a>
							</div>
							<div class="panel-body">
								<span class="list-group">
									<a class="list-group-item">Jméno</a>
									<a class="list-group-item">Jméno</a>
									<a class="list-group-item">Jméno</a>
									<a class="list-group-item">Jméno</a>
									<a class="list-group-item">Jméno</a>
									<a class="list-group-item">Jméno</a>
									<a class="list-group-item">Jméno</a>
									<a class="list-group-item">Jméno</a>
									<a class="list-group-item">Jméno</a>
									<a class="list-group-item">Jméno</a>
									<a class="list-group-item">Jméno</a>
									{% for u in users %}

									{% endfor %}
								</span>
							</div>
						</div>


					</div>
				{% endif %}
			</div>
		</div>
	</div>

	{% if u.isLoggedIn %}
		<div class="hidden" id="but-add"><a class="btn btn-info pull-right"><span class="glyphicon glyphicon-plus"></span></a></div>
		<div class="hidden" id="but-rem"><a class="btn btn-warning pull-right"><span class="glyphicon glyphicon-minus"></span></a></div>
			{% endif %}

{% endblock %}

{% block pageStyle %}
	<style>
		.panel-heading, .panel-body{ border-color: #{{ g.getColor() }}
		}
		.panel-body .well{ background: #{{ g.getColor() }}
		}
	</style>
{% endblock %}