{# rezervace/vypis.twig #}
{% extends layout %}

{% block bodyContent %}
	<div class="panel panel-default reservations">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-6">
					<h4 class="date_bounds">
						{{ "%s - %s"|format(timeSpan['time_from'], timeSpan['time_to'])  }}
					</h4>
				</div>
				<div class="col-xs-3">
					<select class="form-control" id="filter">
						<option value="0">Zobrazit vše</option>
						{% for g in games if g.reservationCount is not empty%}
							<option value="{{ g.game_type_id }}">{{ '%s (%01d)'|format(g.getFullName, g.reservationCount) }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-xs-3">
					<span class="btn-group btn-group-justified">
						{% for link in weekShift %}
							<a href="{{ urlgen.url(link['url']) }}" class="btn btn-default {{ link['glyph'] }}"></a>
						{% endfor %}
					</span>
				</div>
			</div>
		</div>
		<div class="panel-body">
			{% include "mini/rezervace_graficky.twig" with {'reservationDays': reservationDays} %}
		</div>
	</div>

	{% if user.isLoggedIn() %}
		<div class="panel panel-default" id="addReservation" data-toggle="false" data-start-on-evt="{{ (refill and refill['type'] == 'evt') ? 'true' : 'false' }}">
			<div class="panel-heading">
				<span class="panel-title">
					{% if not user.isAdministrator() %}
						Přidat rezervaci
					{% else %}
						Přidat
						<div class="btn-group" data-toggle="buttons">
							{% for key, but in switchButtons %}
							<label id='label_{{ key }}' class="btn {% if but['active'] %}btn-primary active{% else %}btn-default{% endif %}">
								<input type="radio" name="rb_add_type" value="{{ key }}" {% if but['active'] %}checked{% endif %}> {{ but['label'] }}
							</label>
							{% endfor %}
						</div>
					{% endif %}
				</span>
				
			</div>
			<div class="panel-body" id="reservationBody">
				<form class="form-horizontal" action="{{ urlgen.url(reservationFormAction) }}" method="post">
					<div class="row">
						<div class="col-sm-3" id="game_type_list_res_col">
							<label for="game_type_id" class="control-label">Výběr hry</label>
							{% include "mini/game_type_list_group.twig" with {'games':games, 'active':defaultGame, 'count': 'reservations'} %}
						</div>
						<div class="col-sm-9">
							<div class="row">
								<div class="col-sm-4">
									<label for="desk_id" class="control-label">Stůl</label>
									<select name="desk_id" class="form-control">
										<option value="0">Nerezervovat stůl</option>
										{% for d in desks %}
											<option value="{{ d.desk_id}}">{{ 'Stůl %02d (míst: %d)'|format(d.desk_id, d.capacity) }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-8">
									<label class="control-label" for="reservation_type_id">Typ rezervace</label>
									<select name="reservation_type_id" class="form-control">
										{% for r in reservationTypes %}
											<option value="{{ r.type}}">{{ r.label }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label class="control-label" for="reservation_date">Datum rezervace</label>
									<input type="date" name="reservation_date" class="form-control">
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="time_from">Začátek rezervace</label>
									<input class="form-control" type="time" name="time_from" id="time_from">
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="time_from">Konec rezervace</label>
									<input class="form-control" type="time" name="time_to" id="time_to">
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-offset-3 col-sm-6">
									<input type="submit" class="form-control btn btn-primary" value="Zarezervovat">
								</div>
							</div>
						</div>
					</div>
				</form>

			</div>
			{% if user.isAdministrator() %}
				<div class="panel-body" id="eventBody">
					<form class="form-horizontal" action="{{ urlgen.url(eventFormAction) }}" method="post">
						<div class="row">
							<div class="col-sm-3" id="game_type_list_res_col">
								<label for="game_type_id" class="control-label">Spojit událost s hrou</label>
								{% include "mini/game_type_list_group.twig" with {'games':eventGameList	, 'active':defaultGame, 'count': false} %}
							</div>
							<div class="col-lg-6 col-md-9">
								<div class="row">
									<div class="col-sm-4">
										<label for="desk_id" class="control-label">Název události</label>
										<input type="text" name="event_title"  class="form-control">
									</div>
									<div class="col-sm-4">
										<label class="control-label" for="time_from">Začátek události</label>
										<input class="form-control" type="time" name="time_from" id="time_from">
									</div>
									<div class="col-sm-4">
										<label class="control-label" for="time_from">Konec události</label>
										<input class="form-control" type="time" name="time_to" id="time_to">
									</div>

								</div>
								<div class="row">
									<div class="col-sm-7">
										<label for="desk_id" class="control-label">Popisek události</label>
										<input type="text" name="event_subtitle" class="form-control">
									</div>
									<div class="col-sm-5">
										<label class="control-label" for="reservation_date">Datum události</label>
										<input type="date" name="event_date" class="form-control">
									</div>
								</div>
								<br/>
								<div class="row">
									<div class="col-sm-offset-3 col-sm-6">
										<input type="submit" class="form-control btn btn-primary" value="Vytvořit událost">
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-3">
								<label for="description" class="control-label">Detaily události</label>
								<textarea name="description"  class="form-control" rows="6"></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>
		{% endif %}
	{% endif %}

	<div class="well well-lg reservations-list">
		{% include 'mini/reservation_days.twig' %}
	</div>

{% endblock %}

{% block pageStyle %}
	<style>
		{% for g in games %}.game{{ g.game_type_id }}{ border-color: #{{ g.getColor() }} }
		{% endfor %}
	</style>
{% endblock %}