{# rezervace/vypis.twig #}
{% extends layout %}

{% block bodyContent %}
	<div class="panel panel-default reservations">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-9">
					<h4 class="date_bounds">
						{{ "%s - %s"|format(timeSpan['time_from'], timeSpan['time_to'])  }}
					</h4>
				</div>
				<div class="col-xs-3">
					<span class="btn-group btn-group-justified">
						{% for link in weekShift %}
							<a href="{{ urlgen.url(link['url']) }}" class="btn btn-default {{ link['glyph'] }}"></a>
						{% endfor %}
					</span>
				</div>
			</div>
		</div>
		<div class="panel-body">
			{% include "mini/rezervace_graficky.twig" with {'reservationDays': reservationDays} %}
		</div>
	</div>

	{% if user.isLoggedIn() %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Přidat rezervaci</h2>
			</div>
			<div class="panel-body">

				<form class="form-horizontal" action="{{ urlgen.url(formAction) }}" method="post">
					<div class="row">
						<div class="col-sm-4">
							{% include "mini/game_type_list_group.twig" with {'games':games, 'active':defaultGame, 'count': 'reservations'} %}
						</div>
						<div class="col-sm-8">
							<div class="row">
								<div class="col-sm-4">
									<label for="desk_id" class="control-label">Stůl</label>
									<select name="desk_id" class="form-control">
										<option value="0">Nerezervovat stůl</option>
										{% for d in desks %}
											<option value="{{ d.desk_id}}">{{ 'Stůl %02d (míst: %d)'|format(d.desk_id, d.capacity) }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-sm-8">
									<label class="control-label" for="reservation_type_id">Typ rezervace</label>
									<select name="reservation_type_id" class="form-control">
										{% for r in reservationTypes %}
											<option value="{{ r.type}}">{{ r.label }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label class="control-label" for="reservation_date">Datum rezervace</label>
									<input type="date" name="reservation_date" class="form-control">
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="time_from">Začátek rezervace</label>
									<input class="form-control" type="time" name="time_from" id="time_from">
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="time_from">Konec rezervace</label>
									<input class="form-control" type="time" name="time_to" id="time_to">
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-offset-3 col-sm-6">
									<input type="submit" class="form-control btn btn-primary" value="Zarezervovat">
								</div>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	{% endif %}

	<div class="well well-lg reservations-list">
		{% for i in (resRend.getWeekStartDay())..(resRend.getWeekEndDay()) if reservationDays[i]['reservations'] is not empty %}
			<div class="dayLists{% if loop.first %} first{ else if loop.last} last {% endif %}" id="dl_{{ i }}">
				<h3>{{ resRend.getDay(i, 'full') }}</h3>
				<div class="row smartRow">
					{% set rd = reservationDays[i] %}
					{% for r in rd['reservations'] %}
						{% set rGame = games[r.game_type_id] %}
						<div class="col-md-{% if not rd['reservations']|first.isEvent() %}{{ resListColSize }}{% else %}12{% endif %}">
							<div class="media" style="border: 8px solid #{{ games[r.game_type_id].getColor }}; margin-bottom: 4px;">
								<div class="media-left">
									<a href="{{ urlgen.gDet(r.game_type_id) }}">
										<img class="media-object" src="{{ urlgen.gImg(r.game_type_id) }}" alt="...">
									</a>
								</div>
								<div class="media-body">
									<div class="row">
										<div class="col-xs-6">
											<a href="{{ urlgen.rdet(r.reservation_id) }}"
											   <small>Rezervace #{{ "%04d"|format(r.reservation_id) }}</small>
											</a>
										</div>
										{% if r.isOpen %}
											<div class="col-xs-6">
												<small class="pull-right">Hráčů: {{ r.getSignedPlayerCount() }}<span> (doporuč. {{ "%d-%d"|format(r.min_players, r.max_players) }})</span></small>
											</div>
										{% endif %}
									</div>
									<h4 class="media-heading">
										{{ rGame.game_name }}{% if rGame.game_subtitle is not empty %} <small>{{ rGame.game_subtitle}}</small>{% endif %}
									</h4>


									<span>{{ "%s - %s"|format(r.time_from, r.time_to) }}</span>
									{% if r.hasDesk %}
										<span class="pull-right">{{ 'Stůl %02d (%d míst)'|format(r.desk_id, r.desk_capacity) }}</span>
									{% endif %}
								</div>
							</div>
							<div class="res-head row">


							</div>
							<div class="res-body row">
								<span></span>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<hr/>
		{% endfor %}
	</div>

{% endblock %}

{% block pageStyle %}
	<style>
		{% for g in games %}.game{{ g.game_type_id }}{ border-color: #{{ g.getColor() }} }
		{% endfor %}
	</style>
{% endblock %}