{# rezervace/vypis.twig #}
{% extends layout %}

{% block bodyContent %}
	<div class="panel panel-default reservations">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-6">
					<h4 class="date_bounds">
						{{ "%s - %s"|format(timeSpan['time_from'], timeSpan['time_to'])  }}
					</h4>
				</div>
				<div class="col-xs-3">
					<select class="form-control" id="filter">
						<option value="0">Zobrazit vše</option>
						{% for g in games if g.reservationCount is not empty%}
							<option value="{{ g.game_type_id }}">{{ '%s (%01d)'|format(g.getFullName, g.reservationCount) }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-xs-3">
					<span class="btn-group btn-group-justified">
						{% for link in weekShift %}
							<a href="{{ urlgen.url(link['url']) }}" class="btn btn-default {{ link['glyph'] }}"></a>
						{% endfor %}
					</span>
				</div>
			</div>
		</div>
		<div class="panel-body">
			{% include "mini/rezervace_graficky.twig" with {'reservationDays': reservationDays} %}
		</div>
	</div>

	{% if user.isLoggedIn() %}
		<div class="panel panel-default" id="addReservation" data-toggle="false" data-start-on-evt="{{ (refill and refill['type'] == 'evt') ? 'true' : 'false' }}">
			<div class="panel-heading">
				<span class="panel-title">
					{% if not user.isAdministrator() %}
						Přidat rezervaci
					{% else %}
						Přidat
						<div class="btn-group" data-toggle="buttons">
							{% for key, but in switchButtons %}
							<label id='label_{{ key }}' class="btn {% if but['active'] %}btn-primary active{% else %}btn-default{% endif %}">
								<input type="radio" name="rb_add_type" value="{{ key }}" {% if but['active'] %}checked{% endif %}> {{ but['label'] }}
							</label>
							{% endfor %}
						</div>
					{% endif %}
				</span>
				
			</div>
			<div class="panel-body" id="reservationBody">
				{% include 'components/formAddReservation.twig' %}
			</div>
			{% if user.isAdministrator() %}
				<div class="panel-body" id="eventBody">
					{% include 'components/formAddEvent.twig' %}
				</div>
			</div>
		{% endif %}
	{% endif %}

	<div class="well well-lg reservations-list">
		{% include 'mini/reservation_days.twig' %}
	</div>

{% endblock %}

{% block pageStyle %}
	<style>
		{% for g in games %}.game{{ g.game_type_id }}{ border-color: #{{ g.getColor() }} }
		{% endfor %}
	</style>
{% endblock %}