{# rezervace/vypis.twig #}
{% extends layout %}

{% block bodyContent %}
	<h4 class="date_bounds">{{ "%s - %s"|format(timePars['time_from'], timePars['time_to'])  }}</h4>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Grafické zobrazení rezervací</h2>
		</div>
		<div class="panel-body">
			{% include "mini/rezervace_graficky.twig" with {'reservationDays': reservationDays} %}
		</div>
	</div>
	
	{% if user.isLoggedIn() %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Přidat rezervaci</h2>
		</div>
		<div class="panel-body">
			{% include "mini/rezervace_form.twig" %}
		</div>
	</div>
	{% endif %}
	
{% for r in rezervace %}
    <div class="reservation">
        <div class="res-head row">
            <span>Rezervace #{{ "%04d"|format(r.reservation_id) }} - {{ r.game_name }}</span>
            <span>Hráčů: {{ r.signed_players}}</span>
            <span> z {{ "%d-%d"|format(r.min_players, r.max_players) }}</span>
            <span>{{ "%s - %s"|format(r.time_from, r.time_to) }}</span>
        </div>
        <div class="res-body row">
            <span></span>
        </div>
    </div>
{% endfor %}

{% endblock %}
