{# udalost/zobrazit.twig #}
{% extends "rezervace/detail.twig" %}


{% block panelHeadingContent %}
	<div class="event_title">{{ event.getTitle }}</div>
	{% if event.hasSubtitle() %}<small class="event_subtitle">{{ event.getSubtitle }}</small>{% endif %}
{% endblock %}

{% block panelBodyContent %}
	<div class="row">
		<div class="col-md-4">
			<div class="well well-sm">
				<ul class="list-group">
					<li class="list-group-item">
						<div class="row">
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-calendar"></span>
								{{ event.event_date }}
							</div>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-time"></span>
								{{ resRend.time(event.time_from) }} - {{ resRend.time(event.time_to) }}
							</div>
						</div>
					</li>
					<li class="list-group-item">
						{% if r.desk_id %}
							Číslo stolu: {{ '%02d'|format(r.desk_id) }}
							<span class="pull-right">Míst k sezení: {{ r.desk_capacity }}</span>
						{% else %}
							Bez rezervace stolu
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
		{{ event.description }}
	</div>
{% endblock %}


{% block pageStyle %}
	{% if event.hasGameAssigned() %}
		<style>
			.panel-heading, .panel-body{ border-color: #{{ g.getColor() }}
			}
			.panel-body .well{ background: #{{ g.getColor() }}
			}
		</style>
	{% endif %}
{% endblock %}