<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% for style in css %}
			<link href="{{ urlgen.css(style) }}" rel="stylesheet">
        {% endfor %}

		{% for script in js %}
			<script src="{{ urlgen.js(script) }}" rel="stylesheet"></script>
        {% endfor %}

        <title>{{ title }}</title>

	{% block pageStyle %}{% endblock %}

</head>
<body>
	{% block layoutBody %}
        {% include 'components/navbar.twig' with {'navbar': navbar, 'user': user} %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					{% block badge %}
						{% if badgeTpl is not empty %}
							{% include badgeTpl %}
						{% endif %}
					{% endblock %}
				</div>
				<div class="bodyContainer col-md-8">
					{% if alert_messages %}
						<div class="alerts">
							{% for msg in alert_messages %}
								<div class="alert alert-{{ msg['level'] }}">
									{{ msg['text']|raw }}
									{% if msg['link'] %}
										<a href="{{ msg['link']['url'] }}" class="alert-link pull-right">{{ msg['link']['label'] }}</a>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					{% endif %}
					<h1>{{ pageTitle }}</h1>
					{{ block('bodyContent') }}
				</div>
			</div>
		</div>
	{% endblock %}
</body>
</html>
