{# components/_weekEntity.twig #}
{# to be only used within weekGraphical.twig #}

{# @param entity - IRenderableWeekEntity #}
{# @param resRend - ReservationRenderer #}
{# @param buttons - array; keys: bottom, detail #}
{# @param zIndex - int #}

{% set additionalClass = "%s%s"|format(entity.getType(), ( entity.hasGameAssigned() ? ' game' ~ entity.getGameTypeID() : "" )) %}
{% set entityStyle = "left:%.2f%%; width:%.2f%%; "|format(resRend.getStartPct(entity), resRend.getWidthPct(entity)) %}

<div class="week-entity {{ additionalClass }}" style="{{ entityStyle }} z-index: {{ zIndex }}" title="{{ entity.getTitleSubtitle() }}">
	{% if buttons.link %}
		<a class="btn-link" href="{{ urlgen.weDetail(entity) }}">
		{% endif %}
		<span>{{ entity.getTitle() }}</span>
		{% if entity.hasSubtitle() %}<small>{{ entity.getSubtitle() }}</small>{%endif%}
		{% if buttons.link %}
		</a>
	{% endif %}


	{% if buttons.bottom %}
		<small class="btn-link btn-bottom btn-bottom-right btn-hide">
			<span class="glyphicon glyphicon-eye-close"></span>
		</small>
	{% endif %}
</div>