{# uzivatel/mini_reviews.twig #}
<div class="panel panel-default myStats">
	<div class="panel-heading">
		<h2 class="panel-title">Má hodnocení</h2>
	</div>
	<div class="panel-body">
		{% for r in ratings['list'] %}
			<blockquote>
				<p>{{ r.review }}</p>
				<footer>
					{{ r.name }} na hru <a href="{{ urlgen.gDet(r.game_type_id) }}">{{ r.game_name }} <i>{{ r.subtitle }}</i></a>
				</footer>
				<footer>Hodnocení: {{ "%d/%d"|format(r.score, ratings['max_score']) }}</footer>
			</blockquote>
		{% else %}
			<span>Zatím jsem nerecenzoval žádnou hru</span>
		{% endfor %}
	</div>
	<div class="panel-footer">
		Přejít na <a href="{{ urlgen.url(resLink) }}">Seznam her&hellip;</a>
	</div>
</div>