{# ohlas/pridat.twig #}
{% extends layout %}

{% block bodyContent %}
	<div class="panel panel-default feedbackList">
		<div class="panel-heading">
			<span>Zadané ohlasy</span>
		</div>
		<div class="panel-body">
			{% for fb in feedbackItems %}
				<div class="panel {% if fb.isBugReport() %}panel-warning{% elseif fb.isFeatureSuggestion %} panel-info{% endif %}">
					<div class="panel-heading">
						<span>{{ fb.label }}</span>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<p><b>Zadáno:</b> {{ fb.getDate('created') }}</p>
								{% if fb.isResolved %}
									<p><b>Vyřešeno:</b> {{ fb.getDate('resolved') }}</p>
								{% else %}
									<b>K vyřešení</b>
								{% endif %}
								<a href="{{ urlgen.url() }}" class="btn btn-danger">{% if not fb.isResolved %}Považovat za vyřízené{% else %}Znovu otevřít{% endif %}</a>
							</div>
							<div class="col-md-10">
								<p>{{ fb.description }}</p>

							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="panel panel-success">
					<div class="panel-heading">Nejsou nahlášeny žádné chyby nebo návrhy na vylepšení</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}