{# sprava/hry.twig #}

{% extends layout %}

{% block bodyContent %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Přidat hru</h2>
		</div>
		<div class="panel-body">
			{% include "mini/pridat_hru_form.twig" %}
		</div>
	</div>

	{% set open_row = false %}
	{% for g in games %}
		{% if loop.index0 % gpr == 0 %}
			<div class="row"> {% set open_row = true %}
			{% endif %}
			<div class="col-md-{{ 12 / gpr }}">
				<div class="game panel panel-default" id="game{{ g.game_type_id }}">
					<div class="panel-heading">
						<div class="row">
							<span class="col-lg-9">
								<div class="game_name">{{ g.game_name }}</div>
								<div class="game_subtitle">{{ g.game_subtitle }}</div>
							</span>
							<span class="col-lg-3 image-frame">
								<img src="{{ g.picture_path }}" class="img-rounded img-responsive pull-right">
							</span>
						</div>
					</div>
					<div class="panel-body bodySwapper">
						<div class="grp-info">
							<ul class="list-group">
								<li class="list-group-item">
									Hráčů: 
									<span class="min_players">{{ g.min_players }}</span>
									-
									<span class="max_players">{{ g.max_players }}</span>
								</li>
								<li class="list-group-item">
									Prům. Doba Hry: <span class="avg_playtime">{{ g.avg_playtime }}
								</li>
							</ul>
							<ul class="list-group">
								<li class="list-group-item">
									Odběratelů: {{ g.subscribed_users }}
								</li>
								<li class="list-group-item">
									Hodnocení:{{ '%d (%d)'|format(g.average_score, g.rating_count) }}
								</li>
							</ul>
							<div class="btn-group btn-group-justified">
								<a class="btn btn-warning butt-edit"><span class="glyphicon glyphicon-edit"></span></a>
							</div>
						</div>
						<div class="grp-edit">
							<h3>Toto nemělo být vidět, gratuluji k rozbití stránky</h3>
						</div>
					</div>


				</div>
			</div>
			{% if loop.index0 % gpr == gpr - 1 %}
			</div> {% set open_row = false %}
		{% endif %}
	{% endfor %}
	{% if open_row %}
	</div>
{% endif %}

<div id="edit_form" class="hidden">
	<form class="form-inline">
		<ul class="list-group">
			<li class="list-group-item">
				<input type="text" class="form-control" name="game_name" placeholder="Název hry">
			</li>
			<li class="list-group-item">
				<input type="text" class="form-control" name="game_subtitle" placeholder="Podtitulek">
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-xs-6">
						<input type="number" class="form-control" name="min_players" placeholder="Min. hráčů">
					</div>
					<div class="col-xs-6">
						<input type="number" class="form-control" name="max_players" placeholder="Max. hráčů">
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<span class="input-group">
					<input type="text" class="form-control" name="avg_playtime" placeholder="Průměrná doba hry">
					<span class="input-group-addon">minut</span>
				</span>
			</li>
			<li class="list-group-item">
				<div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-default btn-file">
							Procházet&hellip; <input type="file" name="picture">
						</span>
					</span>
					<input type="text" class="form-control" readonly>
					<span class="input-group-addon">
						<input type="checkbox" name="keepPic" class="checkbox" checked="true" data-toggle="tooltip" data-placement="bottom" title="Ponechat stávající obrázek">
					</span>
				</div>
			</li>

			<div class="btn-group btn-group-justified">
				<a class="btn btn-info butt-cancel"><span class="glyphicon glyphicon-backward"></span></a>
				<submit class="btn btn-success butt-submit"><span class="glyphicon glyphicon-ok"></span></submit>
			</div>
		</ul>
	</form>
</div>


{% endblock %}