{# sprava/inventar.twig #}

{% extends layout %}

{% block bodyContent %}
	<p>Zde se nachází výpis evidenčních čísel podle jednotlivých her. Před každým evidenčním číslem se nachází číslo, které udává celkový počet rezervací této položky.</p>
	
	<div class="row">
		{% for g in games %}
			<div class="col-lg-{{ col_game }}">
				<div class="game panel panel-default" id="game_{{ g.game_type_id }}">
					<div class="panel-heading">
						<div class="row" style="height: 100%;">
							<span class="col-xs-9">
								<div class="game_name">{{ g.game_name }}</div>
								<div class="game_subtitle">{{ g.game_subtitle }}</div>
							</span>
							<span class="col-xs-3 image-frame">
								<img src="{{ urlgen.gImg(g.game_type_id) }}" class="pull-right img-rounded img-responsive">
							</span>
						</div>
					</div>
					<div class="panel-body">
						{% set gLoop = loop %}
						{% if g.tracking_codes is not empty %}
							<div class="row">
								{% for code in g.tracking_codes%}
									<div class="col-md-{{ col_code }}" id="ig_{{ code.tracking_code }}">
										<div class="input-group">
											<span class="input-group-addon">{{ code.times_reserved }}</span>
											<input type="text" class="form-control" value="{{ code.tracking_code }}" readonly>
											{% if not code.retired %}
												<span class="input-group-btn">
													<button class="btn btn-danger retire" type="button" data-toggle="tooltip" data-placement="bottom" title="Vyřadit"><span class="glyphicon glyphicon-log-out"></span></button>
												</span>
											{% else %}
												<span class="input-group-addon">Vyřazený</span>
											{% endif %}
										</div>
									</div>
								{% endfor %}{% set loop = gLoop %}
							</div>
						{% else %}
							<div class="well"><span class="label label-warning">!</span> Pro tuto hru nejsou evidovány žádné kódy</div>
						{% endif %}
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-offset-3 col-md-6 input-group">
								<label class="input-group-addon" for="addcode_{{g.game_type_id}}"><span class="glyphicon glyphicon-log-in"></span></label>

								<input type="text" class="form-control" name="addcode_{{g.game_type_id}}" placeholder="G00001" data-toggle="tooltip" title="Evidovat nový kód">

								<span class="input-group-btn">
									<a tabindex="{{ loop.index0 }}" class="btn btn btn-primary insert" id="ai_{{ g.game_type_id }}"
									   role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content=" ? ? ? ">
										<span class="glyphicon glyphicon-plus"></span>
									</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<span id="retireBoxLink" data-link="{{ urlgen.ajaxUrl(retireAction) }}"></span>
	<span id="insertBoxLink" data-link="{{ urlgen.ajaxUrl(insertAction) }}"></span>

{% endblock %}

{% block pageStyle %}
	<style>
		{% for g in games %}
			#game_{{ g.game_type_id }}>.panel-heading, #game_{{ g.game_type_id}}>.panel-body{ border-color: #{{ g.getColor() }};
			}
			#game_{{ g.game_type_id}}>.panel-body{ background-color: #{{ g.getColor() }};
			}
		{% endfor %}
	</style>
{% endblock %}