{# sprava/inventar.twig #}

{% extends layout %}

{% block bodyContent %}
	
	<p>Výpis inventářových entit seskupené podle herních druhů.</p>
	
	{% for g in games %}
		<div class="game panel panel-default">
			<div class="panel-heading">
				<span class="game-title pull-left">
					{{ g.game_name }}
				</span>
				<span class="image-frame pull-right">
					<img src="{{ g.picture_path }}" class="img-rounded img-responsive">
				</span>
			</div>
			<div class="panel-body">
				{% set open_row = false %}
				{% for code in g.tracking_codes%}
					{% if loop.index0 % 3 == 0 %}
						<div class="row"> {% set open_row = true %}
					{% endif %}
					
					<div class="col-md-4" id="ig_{{ code.tracking_code }}">
						<div class="input-group">
							<input type="text" class="form-control" value="{{ code.tracking_code }}" readonly>
							{% if not code.retired %}
							<span class="input-group-btn">
								<button class="btn btn-default retire" type="button">Vyřadit</button>
							</span>
							{% else %}
								<span class="input-group-addon">Vyřazený</span>
							{% endif %}
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
					{% if loop.index0 % 3 == 2 %}
						</div> {% set open_row = false %}
					{% endif %}
				{% endfor %}
				{% if open_row %}
				</div>
				{% endif %}
				<hr>
				<div class="row">
					<div class="col-md-offset-3 col-md-6 input-group">
						<label class="input-group-addon" for="addcode{{g.game_type_id}}">Evidovat krabici</label>
						<input type="text" class="form-control" name="addcode{{g.game_type_id}}" placeholder="G00001">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">OK</button>
						</span>
					</div>
				</div>
			</div>
			
		</div>
	{% endfor %}
{% endblock %}