{# sprava/ovladaciPanel.twig  #}
{% extends layout %}

{% block bodyContent %}

	<div class="panel panel-default">
		<div class="panel-heading"><h2 class="panel-title">XML export</h2></div>
		<div class="panel-body">
			<div class="table">
				<div class="thead">
					<span>Typ exportu</span>
					<span>Parametry</span>
					<span>Export</span>
				</div>

				<form class="form-inline" action="{{ urlgen.url(xml_inventory) }}" method="post">
					<span>Katalog her a evidenčních čísel</span>
					<span><span class="glyphicon glyphicon-remove-sign"></span></span>
					<span> <button type="submit" class="form-control btn btn-default"><span class="glyphicon glyphicon-share"></span></button></span>
				</form>

				<form class="form-inline" action="{{ urlgen.url(xml_reservations) }}" method="post">
					<span>Rezervace za období</span>
					<span>
						<label class="control-label" for="date_from">Od</label>
						<input type="date" name ="date_from" id='date_from' class="form-control" value="{{ user.name }}">
						<label class="control-label" for="date_to">Do</label>
						<input type="date" name="date_to" id='date_from' class="form-control" value="{{ user.surname }}">
					</span>
					<span>
						<span> <button type="submit" class="form-control btn btn-default"><span class="glyphicon glyphicon-share"></span></button></span>
					</span>
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default" id="letiste">
				<div class="panel-heading"><h2 class="panel-title">Odkazy na letiště</h2></div>
				<div class="panel-body">
					<div class="list-group">
						{% for l in letiste_links %}
							<a  class="list-group-item list-group-item-info" href="{{ urlgen.url(l['url']) }}">{{ l['label'] }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading"><h2 class="panel-title">Operátorský koutek</h2></div>
				<div class="panel-body">
					{% if not operator_enabled %}
						<div class="alert alert-warning">
							Operátorský režim je vypnutý
						</div>
					{% endif %} 
					<h2>Hry (typy)</h2>
					<div>
						<div class="col-md-6">
							<h3>Import</h3>
							<p>Projede soubor typu .csv a každý validní řádek převede na informace o hře, které následně uloží do databáze</p>
							<form action="{{ urlgen.url(SQL_action) }}" method="post">
								<div class="input-group">
									<span class="input-group-btn">
										<span class="btn btn-default btn-file">
											Procházet&hellip; <input type="file" name="import" accept=".csv">
										</span>
									</span>
									<input type="text" class="form-control" readonly>
									<span class="input-group-btn">
										<input type="submit" class="btn btn-warning" value="Nahrát">
									</span>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<h3>Export</h3>
							<p>Exportuje všechny herní typy do souboru typu .csv</p>
							<a class="btn btn-info pull-right" href="{{ urlgen.url(game_types['export']) }}" target="_blank">Stáhnout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}