{# sprava/hry.twig #}

{% extends layout %}

{% block bodyContent %}
	<table class="table">
		<thead>
			<tr>
				<td>Orion login</td>
				<td>Role</td>
				<td>Jméno</td>
				<td colspan="{{ actions['count'] }}">Akce</td>
			</tr>
		</thead>
		<tbody>
		{% for u in users %}
			{% set tmpUrl = tmpUrl|merge({'orion_login': u.orion_login}) %}
			<tr>
				<td>{{ u.orion_login }}</td>
				<td>{{ u.role_label }}</td>
				<td>{{ '%s %s'|format(u.name, u.surname)}}</td>
				<td>
					{% set item = (u.isSupervisor() ? actions['list']['supervisor']['remove'] : actions['list']['supervisor']['add']) %}
					{% set tmpUrl = tmpUrl|merge({'action': item['url']}) %}
					<a href="{{ urlgen.url(tmpUrl) }}" class="btn btn-default {{ item['class'] }}" data-toggle="tooltip" data-placement="bottom" title="{{ item['tooltip'] }}">
						<span class="glyphicon {{ item['glyph'] }}"></span>
					</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}