{# sprava/hry.twig #}

{% extends layout %}

{% block bodyContent %}
	<div class="panel panel-default">
		<div class="panel-heading">
			Seznam uživatelů
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Orion login</th>
						<th>Role</th>
						<th>Jméno</th>
						<th>Poslední aktivita</th>
						<th colspan="{{ actions['count'] }}">Akce</th>
					</tr>
				</thead>
				<tbody>
				{% for u in users %}
					{% set tmpUrl = tmpUrl|merge({'orion_login': u.orion_login}) %}
					<tr>
						<td>{{ u.orion_login }}</td>
						<td>{{ u.role_label }}</td>
						<td>{{ '%s %s'|format(u.name, u.surname)}}</td>
						<td>{% if u.last_active %}
							{{ u.last_active }}
							{% else %}
							Žádná
							{% endif %}
						</td>
						<td>
							{% if u.user_id != user.user_id and not u.isAdministrator %}
								{% set item = (u.isSupervisor() ? actions['list']['supervisor']['remove'] : actions['list']['supervisor']['add']) %}
								{% set tmpUrl = tmpUrl|merge({'action': item['url']}) %}
								<a href="{{ urlgen.url(tmpUrl) }}" class="btn btn-default {{ item['class'] }}" data-toggle="tooltip" data-placement="bottom" title="{{ item['tooltip'] }}">
									<span class="glyphicon {{ item['glyph'] }}"></span>
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}